body {
    font-family: 'Sora', sans-serif;
  }
  
.container, .card {
  margin: 0 auto;
  }

  .weatherappcard{
    vertical-align: middle;
    padding: 3%;
    border-color: #ffffff;
    line-height: inherit;
    }

li{
  list-style: none;
}

  h1,
  h4, #description, #precipitation {
    color: #23aaae;
    margin-bottom: 0;
  }
  
  #headerTime, #windspeed {
    color: #f95800;
  }

  h2{
    margin-bottom: 0;
  }
  
  h3 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 0;
  }
  
  #headerDate {
    text-align: left;
    font-size: 20px;
    color:slategray
  }

  p, a {
    font-weight: 500;
    color: slategray;
    margin-bottom: 0;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px auto;
  } 
  
  
  .superscript {
    font-size: 24px;
    vertical-align: 10px;
    text-align: center;
    font-weight: normal;
  }

  #mylocation{
    margin: 0 30%;
  }

  .btn_out_color {
    border-color: #f95800;
    color: #f95800;
  }
  
  .btn_out_color:hover {
    color: #ffffff;
    background: #f95800;
    border: #f95800;
  }
  
  .weather_color_blue, #fahrenheit:hover {
    color: #23aaae;
  }

  .weather_color_grey, #celsius:hover {
    color: slategray;
  }
  
  .titles {
    color: #10727b;
  }
  
  .subtitles {
    color: #f95800;
    font-weight: bolder;
  }

  #footer {
    font-size: small;
    text-align: center;
  }
  